@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Metal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&display=swap");

body {
  background-color: rgb(32, 31, 31);
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Stile per l'header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  padding: 1rem 3%;
  background-color: rgba(107, 105, 105, 0.676);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  transition: top 0.3s;
  text-align: center;
}

.logo {
  color: #cdcaca;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-align: center;
}

.logo:hover {
  color: #e7e5e3;
}

.subtitle {
  text-align: center;
  color: rgba(238, 177, 79, 0.772);
  font-size: 16px;
  letter-spacing: 8.5px;
  margin-top: 5px;
  font-family: "Outfit", sans-serif;
}

/* Stile per la navbar */
.navbar {
  display: flex;
  justify-content: center;
  margin-right: 70px;
}

.navbar .links {
  display: flex;
  gap: 16px;
}

.navbar .links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  transition: color 0.3s ease;
  margin-top: -22px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
}

.navbar .links a:hover {
  color: #fcbe6e;
  transform: scale(1.07); /* Effetto zoom al passaggio del mouse */
}

/* Stile per la sezione home */
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5%;
  background: url(./img/IMG_8216-2.jpg) no-repeat center center/cover;
  background-size: cover;
  animation: fadeIn 3s ease-in-out forwards;
  transition: background-image 1s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}
.home-text {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 1;
  font-family: "Libre Baskerville", serif;
  margin-top: 20%;
}

.home-text h1 {
  font-size: 39px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.home-text p {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 40%;
  font-family: "Outfit", sans-serif;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.194);
  z-index: 0;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 200px; /* Spazio prima del testo della sezione */
  padding-bottom: 80px; /* Spazio dopo il testo della sezione */
  background-color: #202020; /* Sfondo scuro */
}

.contact h1 {
  font-size: 30px;
  color: #fcbe6e;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: "Libre Baskerville", serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Stile per la sezione photos */
.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 200px; /* Spazio prima del testo della sezione */
  padding-bottom: 80px; /* Spazio dopo il testo della sezione */
  background-color: #202020; /* Sfondo scuro */
}

.photos .home-text {
  margin-top: -630px;
  font-family: "Libre Baskerville", serif;
}

.photos h1 {
  font-size: 30px;
  color: #fcbe6e;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: "Libre Baskerville", serif;
}

.photos p {
  font-size: 15px;
  margin-top: 10px;
  font-family: "Outfit", sans-serif;
}
.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.about h1 {
  font-size: 30px;
  color: #fcbe6e;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: "Libre Baskerville", serif;
  margin-top: -410px;
}

.text-content {
  max-width: 55%; /* Il testo occupa il 55% dello spazio disponibile */
}
.text-content h1 {
  font-size: 30px;
  color: #fcbe6e;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: "Libre Baskerville", serif;
  text-align: center; /* Centra il titolo */
}

.text-content p {
  font-family: "Outfit", sans-serif;
  font-size: 19px;
  margin-bottom: 10px;
  line-height: 1.5; /* Aggiungi una migliore leggibilità con interlinea */
  float: left;
  margin-top: 20%;
  margin-right: 60px; /* Aggiunge spazio tra il testo e l'immagine */
  margin-left: 20%;
}

.box-photo-me {
  max-width: 40%; /* L'immagine occupa il 40% dello spazio */
  display: flex;
  right: 100px;
}

.img-photo-me {
  height: 380px;
  width: 290px;
  margin-right: 150px;
  float: right;
  margin-top: 30px;
  border-radius: 15px;
}

.portfolio-section {
  padding: 60px 20px;
  background-color: #f4f4f4;
}

.portfolio-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%; /* Mantiene la galleria centrata */
  margin-top: 20px;
}
.gallery-item {
  flex: 1 1 calc(30% - 80px); /* Riduce lo spazio tra le immagini per ingrandirle */
  margin-top: 60px;
}
.gallery-item:hover {
  transform: scale(1.05); /* Effetto zoom al passaggio del mouse */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene le proporzioni dell'immagine riempiendo l'area */
  display: block;
  border-radius: 10px;
}
.image-grid-section {
  padding: 120px;
  text-align: center;
}
.image-grid-section h2 {
  margin-bottom: 30px;
  color: #fcbe6e;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 4px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
  gap: 20px;
  grid-auto-rows: 400px;
}
.carousel-section {
  padding: 190px 100px;
  position: relative;
  text-align: center;
  color: #6f6e6d;
}
.grid-item {
  position: relative;
  overflow: hidden;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.grid-item img:hover {
  transform: scale(1.05); /* Effetto zoom al passaggio del mouse */
}

.carousel {
  width: 80%;
  overflow: hidden; /* Nascondere le immagini fuori dalla vista */
  margin: 0 auto;
  position: relative;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: fit-content;
}

.carousel-inner img {
  width: 260px;
  height: 190px;
  object-fit: cover;
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-inner img:hover {
  transform: scale(1.07); /* Effetto zoom al passaggio del mouse */
}

.carousel-section-2 {
  padding: 60px 20px;
  background-color: #cbc9c9e2;

  text-align: center;
  color: #6f6e6d;
  margin-top: 100px;
}

/* FOOTER */
.footer {
  padding: 50px 20px;
  background-color: #575656;
  color: #eeecec;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 30px;
  text-align: center;
  flex-grow: 1;
}

.footer__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.footer__item {
  margin-right: 1rem;
}

.footer__link {
  font-size: 1.2rem;
  color: #eeecec;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  transition: color 0.3s, transform 0.3s;
}

.footer__link:hover {
  color: #fcbe6e;
  transform: scale(1.07);
}

.footer__contact {
  display: flex;
  align-items: center; /* Allinea verticalmente le icone e i link */
  gap: 14px; /* Spazio tra le icone e i link */
  margin-bottom: 390px;
}

.footer__contact i {
  font-size: 40px; /* Dimensione delle icone */
  color: #fcbe6e; /* Colore delle icone */
}
.footer__contact a {
  text-decoration: none;
  color: #fcbe6e;
  font-size: 16px; /* Dimensione del testo dei link */
  font-weight: bold;
}

.footer__logo-section {
  text-align: center;
  flex-grow: 1;
}

.account-ig {
  margin-right: 140px;
  font-size: 80px;
}
.footer__logo {
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 1rem;
  color: #cacaca;
  margin-top: 10px;
  text-align: center;
}
.bx-flip-horizontal {
  font-size: 30px;
}

/* Adattamenti per schermi più piccoli, come telefoni */
@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    padding: 1rem 6%;
    background-color: rgba(107, 105, 105, 0.676);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transition: top 0.3s;
  }

  .logo {
    color: #cdcaca;
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 48px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
  }

  .subtitle {
    font-size: 14px;
    letter-spacing: 6px;
  }

  .navbar .links {
    gap: 10px;
  }

  .home-text h1 {
    font-size: 32px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    margin-bottom: 19px;
  }

  .home-text p {
    font-size: 16px; /* Riduci la dimensione del paragrafo */
    margin-bottom: 20%; /* Riduci lo spazio tra il testo */
  }

  .about {
    flex-direction: column; /* Disposizione verticale */
    padding: 20px;
    height: auto;
  }

  .text-content {
    max-width: 90%; /* Riduci la larghezza del testo */
    margin-left: 0;
    margin-right: 0;
  }

  .box-photo-me {
    max-width: 90%;
    margin-top: 20px;
    justify-content: center;
  }

  .img-photo-me {
    height: auto;
    width: 90%; /* Riduci la dimensione dell'immagine */
    margin-right: 0;
  }

  /* Galleria immagini */

  .gallery-item {
    flex: 1 1 100%; /* Ogni immagine occupa l'intera larghezza */
  }

  /* Carousel */
  .carousel {
    width: 100%;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  /* Footer */
  .footer__container {
    text-align: center;
  }

  .footer__contact {
    margin-bottom: 0;
  }
}

/* Adattamenti per schermi molto piccoli (come telefoni di vecchia generazione) */
@media (max-width: 480px) {
  .header {
    padding: 0.5rem;
  }

  .logo {
    font-size: 20px; /* Riduci ulteriormente il logo */
  }

  .navbar .links a {
    font-size: 14px; /* Riduci la dimensione dei link della navbar */
    padding: 8px;
  }

  .home-text h1 {
    font-size: 22px; /* Riduci la dimensione del titolo */
  }

  .home-text p {
    font-size: 14px;
  }

  .text-content p {
    font-size: 16px;
    margin-top: 10px;
  }
}




