@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Metal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playpen+Sans:wght@100..800&display=swap");

/* Stili generali */
body {
  background-color: rgb(32, 31, 31);
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Stile per l'header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 13%;
  padding: 1rem 3%;
  background-color: rgba(107, 105, 105, 0.676);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  transition: top 0.3s;
  text-align: center;
}

.logo {
  color: #cdcaca;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-align: center;
}

.logo:hover {
  color: #e7e5e3;
}

.subtitle {
  text-align: center;
  color: rgba(238, 177, 79, 0.772);
  font-size: 16px;
  letter-spacing: 8.5px;
  margin-top: 5px;
  font-family: "Outfit", sans-serif;
}

/* Stile per la navbar */
.navbar {
  display: flex;
  justify-content: center;
  margin-right: 70px;
}

.navbar .links {
  display: flex;
  gap: 16px;
}

.navbar .links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  transition: color 0.3s ease;
  margin-top: -22px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
}

.navbar .links a:hover {
  color: #fcbe6e;
  transform: scale(1.07); /* Effetto zoom al passaggio del mouse */
}

/* Stile per la sezione home */
.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5%;
  background: url(./img/IMG_8216-2.jpg) no-repeat center center/cover;
  background-size: cover;
  animation: fadeIn 3s ease-in-out forwards;
  transition: background-image 1s ease-in-out;
}
img {
  max-width: 100%;
  height: auto;
}
.home-text {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 1;
  font-family: "Libre Baskerville", serif;
}

.home-text h1 {
  font-size: 39px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.home-text p {
  font-size: 20px;
  font-style: normal;
  margin-bottom: 45%;
  font-family: "Outfit", sans-serif;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.194);
  z-index: 0;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 200px; /* Spazio prima del testo della sezione */
  padding-bottom: 80px; /* Spazio dopo il testo della sezione */
  background-color: #202020; /* Sfondo scuro */
}
.contact h1 {
  font-size: 30px;
  color: #fcbe6e;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: "Libre Baskerville", serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Stile per la sezione photos */
.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 200px; /* Spazio prima del testo della sezione */
  padding-bottom: 80px; /* Spazio dopo il testo della sezione */
  background-color: #202020; /* Sfondo scuro */
}

.photos .home-text {
  margin-top: -595px;
  font-family: "Libre Baskerville", serif;
}

.photos h1 {
  font-size: 30px;
  color: #fcbe6e;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: "Libre Baskerville", serif;
}

.photos p {
  font-size: 15px;
  margin-top: 10px;
  font-family: "Outfit", sans-serif;
}
.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.about .home-text {
  max-width: 200px;
  margin-bottom: 380px;
}

.about h1 {
  font-size: 30px;
  color: #fcbe6e;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: "Libre Baskerville", serif;
}
.about .home-text p {
  font-family: "Outfit", sans-serif;
  font-size: 19px;
}
.portfolio-section {
  padding: 60px 20px;
  background-color: #f4f4f4;
}

.portfolio-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%; /* Mantiene la galleria centrata */
  margin-top: 20px;
}
.gallery-item {
  flex: 1 1 calc(30% - 80px); /* Riduce lo spazio tra le immagini per ingrandirle */
  margin-bottom: 20px;
}
.gallery-item:hover {
  transform: scale(1.05); /* Effetto zoom al passaggio del mouse */
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene le proporzioni dell'immagine riempiendo l'area */
  display: block;
  border-radius: 10px;
}

.carousel-section {
  padding: 60px 20px;
  background-color: #cdcaca;
  text-align: center;
  color: #6f6e6d;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: fit-content;
}

.carousel-inner img {
  width: 260px;
  height: 190px;
  object-fit: cover;
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-inner img:hover {
  transform: scale(1.07); /* Effetto zoom al passaggio del mouse */
}
/* FOOTER */
.footer {
  padding: 80px;
  background-color: #575656;
  color: #eeecec;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__nav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 30px;
}

.footer__nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.footer__item {
  margin-right: 1rem;
}

.footer__link {
  font-size: 1.2rem;
  color: #eeecec;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  transition: color 0.3s, transform 0.3s;
}

.footer__link:hover {
  color: #fcbe6e;
  transform: scale(1.07);
}

.footer__contact {
  margin-top: 1rem;
  font-size: 1rem;
}

.footer__contact p {
  margin: 0.5rem 0;
}

.footer__contact a {
  color: #fcbe6e;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.footer__logo-section {
  text-align: center;
  flex-grow: 4;
  margin-right: 30%;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 1rem;
  color: #cacaca;
  margin-top: 10px;
  text-align: center;
}
.bx-flip-horizontal {
  font-size: 30px;
}

/*MEDIA PER SCHERMI PICCOLI */
@media (max-width: 768px) {
  .logo {
    color: #cdcaca;
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 50px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
  }
  html {
    font-size: 38%;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    padding: 1rem 3%;
    background-color: rgba(107, 105, 105, 0.676);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transition: top 0.3s;
  }
  .navbar .links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    transition: color 0.3s ease;
    margin-top: -15px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    padding: 1rem 3%;
    background-color: rgba(107, 105, 105, 0.676);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transition: top 0.3s;
  }
  .home-text {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
    font-family: "Libre Baskerville", serif;
  }

  .home-text h1 {
    font-size: 39px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
  }

  .home-text p {
    font-size: 20px;
    font-style: normal;
    margin-bottom: 45%;
    font-family: "Outfit", sans-serif;
  }

  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.194);
    z-index: 0;
  }
  .gallery-item {
    flex: 1 1 calc(50% - 40px);
  }
  body {
    font-size: 14px;
  }
  .footer__container {
    flex-direction: column; /* Cambia il layout da orizzontale a verticale */
    align-items: center; /* Centra gli elementi */
    text-align: center;
  }

  .footer__contact {
    order: 1; /* Mostra la sezione contatti per prima */
    margin-bottom: 20px; /* Spazio sotto la sezione contatti */
  }

  .footer__logo-section {
    order: 2; /* Mostra la sezione logo dopo i contatti */
    margin-bottom: 20px; /* Spazio sotto la sezione logo */
  }

  .footer__nav-section {
    order: 3; /* La sezione di navigazione sarà l'ultima */
    margin-bottom: 20px;
  }

  .footer__copyright {
    order: 4; /* Posiziona il copyright per ultimo */
    margin-bottom: 10px; /* Riduzione margine */
  }

  .footer__link {
    font-size: 1rem; /* Riduci leggermente la dimensione del font per schermi piccoli */
  }

  .footer__contact i {
    font-size: 24px; /* Ridimensiona le icone per schermi piccoli */
  }
}
@media (max-width: 600px) {
  .logo {
    font-size: 20px;
  }

  .navbar .links a {
    font-size: 14px;
  }
}
